.error-white {
  min-height: 82vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-white h2 {
  margin-top: 5px;
  color: black;
  font-weight: 800;
}

.error-white p {
  margin-top: 10px;
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.error-dark {
  min-height: 82vh;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-dark h2 {
  margin-top: 5px;
  color: white;
  font-weight: 800;
}

.error-dark p {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
/* loader */

.heart-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.heart-loader div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: lightgreen;
  animation: heart-loader 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.heart-loader div:after,
.heart-loader div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: lightgreen;
}
.heart-loader div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.heart-loader div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes heart-loader {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
